@import '../../mixins';
@import '../../variables';
.mat-raised-button.mat-primary {
    color: white;
    size: 300ch;

};

.componentContent {
    @include breakpoint(screen,$iPadWidth){
        margin-left: 200px;
        margin-top: 60px;
    }
};


.bout>label{
color:#A6A8A5 !important;

};

.text{

    width: 65%;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 5px;
    height:600px;
    padding-top: 20px;
    padding-left: 10px;
}
.msgspace{
    height:600px;

}