@import '../../mixins';
@import '../../variables';

.appHeaderContent{
    width: 100%;
    height: 200px;
    background-image: url("../../assets/public/images/777.svg") ;
    background-repeat: no-repeat;
    background-size:  100% ;
    @include breakpoint(screen, $iPadWidth){
        width: 100%;
        height: 460px;
        background-image: url("../../assets/public/images/777.svg") ;
        background-repeat: no-repeat;
        background-size:  100% ;
    }
    .navBar{
        width: 100%;
        height: 75px;       
        background-color: rgba(0, 0, 0, 0.3);
        @include breakpoint(screen, $mobileWidth){
            width: 100%;
            height: 16vw;
            background-color: rgba(0, 0, 0, 0.3);
            @include breakpoint(screen, $iPadWidth){
                width: 100%;
                height: 160px;
                background-color: rgba(0, 0, 0, 0.3);
            }
        }
        .logoContenair{
            float: left;
            top:-10px;
            @include breakpoint(screen, $iPadWidth){
            padding-top:2vw;
            padding-left: 2vw;
            }
            .imgLogoIcon{
                height: 50px;
                width: 80px;
                @include breakpoint(screen, $iPadWidth){
                  height:12vh;
                  width: 32vw
                }
            }
        }
        .menuContent{
            float: right;
            height: 100%;
            width: 40%;
            min-width: 110px;
            text-align: right;            
            @include breakpoint (screen, $iPadWidth){
                padding-top: 1em;
                margin-right: 1em;
            }
            .navMenu{
                visibility: hidden;
                ul{
                    list-style: none;
                    li{
                        float:right;
                        margin:.5em;
                        a{
                          color: white;
                        }
                    }
                }
                @include breakpoint (screen, $iPadWidth){
                    visibility: visible;
                }
            }
            .imgLogin{
                width: 22px;
                height: 55px;
                @include breakpoint (screen, $iPadWidth){
                    width: 5vw;
                    height:5vh;
                }
            }
            .imgMenu.mat-button{
                min-width: 60px;
                margin: 0 ;
                padding: 0;
                line-height: 0;            
                float: right; 
                @include breakpoint (screen, $iPadWidth){
                    visibility: hidden;
                    display: none;
                }
                .imgMenuIcon{
                    width: 25px;
                    height: 50px;
                    @include breakpoint (screen, $iPadWidth){
                        width: 10vw;
                        height:5vh;
                    }
                }
            }
            
        }
    }
}
.appHeaderContent::after{
    margin-top: 5vh;
    content:"";
    display: block;
    height: 140px;
    width: 100%;
    background: url(../../assets/public/images/shadow.png) repeat-x center top;
    @include breakpoint(screen, $iPadWidth){
        margin-top: 220px;
        content:"";
        display: block;
        height: 140px;
        width: 100%;
        background: url(../../assets/public/images/shadow.png) repeat-x center top;
    }
 }