<div class="appHeaderContent">

  <div class="navBar">
<!-- LOGO NESTRACKING -->
    <div class="logoContenair">
     <a [routerLink]="['/index']" 
     routerLinkActive="active">
      <img class="imgLogoIcon" src="../../assets/public/images/a copie.svg"  alt="logosite">
    </a>
    </div>
<!-- CONTIENT LE LOGO LOGIN ET MENU -->
    <div class="menuContent">
      <!-- LOGIN LOGO -->
      <a class="loginLink" [routerLink]="['/inscription']" 
        routerLinkActive="active">
        <img class="imgLogin" src="../../assets/public/images/login.icon.svg"  alt="">
      </a>
      
      <!-- MENU LOGO -->
      <button mat-button [matMenuTriggerFor]="menu" class="imgMenu"> 
        <img class="imgMenuIcon" src="../../assets/public/images/menu.svg"  alt="" >
      </button>
        <mat-menu #menu="matMenu">
            
          <button mat-menu-item>
            <a [routerLink]="['/index']" 
            routerLinkActive="active">
            Accueil</a></button>

          <button mat-menu-item>
            <a [routerLink]="['/searchpage']" 
            routerLinkActive="active">
            Recherche</a></button>
          <button mat-menu-item>
            <a [routerLink]="['/contact']" 
             routerLinkActive="active">
             Contact</a></button>
         
          
        </mat-menu>
      <div class="navMenu">
        <ul>
          <li><a [routerLink]="['/contact']" 
             routerLinkActive="active">
             Contact</a></li>
          
          <li><a [routerLink]="['/searchpage']" 
            routerLinkActive="active">
            Recherche</a></li>
          <li><a [routerLink]="['/index']" 
            routerLinkActive="active">
            Accueil</a></li>
           
        </ul>
      </div>
    </div>
  </div>
</div>