<div class="appHeaderContent">

  <div class="navBar">
    <div class="logoContenair">
     <a [routerLink]="['/index']" 
     routerLinkActive="active">
      <img class="imgLogoIcon" src="../../assets/public/images/a.svg"  alt="logosite">
    </a>
    </div>
    <div class="menuContent">
        <a class="loginLink" [routerLink]="['/index']" 
        routerLinkActive="active"><img class="imgLogin" src="../../assets/public/images/login.icon.svg"  alt=""></a>
      
      
      <button mat-button [matMenuTriggerFor]="menu" class="imgMenu"> 
        <img class="imgMenuIcon" src="../../assets/public/images/menu-options.svg"  alt="" >
      </button>
        <mat-menu #menu="matMenu">
          
          <button mat-menu-item>
            <a [routerLink]="['/index']" 
            routerLinkActive="active">
            Accueil</a></button>

          <button mat-menu-item>
            <a [routerLink]="['/searchpage']" 
            routerLinkActive="active">
            Recherche</a></button>

          <button mat-menu-item>
            <a [routerLink]="['/contact']" 
            routerLinkActive="active">
            Contact</a></button>
          
        </mat-menu>
     
    </div>
  </div>
</div>
<!-- <ul class="navSide">
  <li>
    <a 
    [routerLink]="['/index']" 
    routterLink]="['/searchpage']" 
    routerLinkActive="active">
    
    searchpage</a></li>
  <li>
    <a 
    [routerLink]="['/product']" 
    routerLinkActive="active">
    
    product</a> </li>
  <li>
    <a 
    [routerLink]="['/contact']" 
    routerLinkActive="active">
    
    contact</a> </li>
  
</ul>erLinkActive="active"
     >
    
     index </a> </li>

  <li>
    <a terLink]="['/searchpage']" 
    routerLinkActive="active">
    
    searchpage</a></li>
  <li>
    <a 
    [routerLink]="['/product']" 
    routerLinkActive="active">
    
    product</a> </li>
  <li>
    <a 
    [routerLink]="['/contact']" 
    routerLinkActive="active">
    
    contact</a> </li>
  
</ul>
    [routerLink]="['/searchbar']" 
    routerLinkActive="active">
    
    searchbar</a></li>
  <li>
    <a 
    [routerLink]="['/searchpage']" 
    routerLinkActive="active">
    
    searchpage</a></li>
  <li>
    <a 
    [routerLink]="['/product']" 
    routerLinkActive="active">
    
    product</a> </li>
  <li>
    <a 
    [routerLink]="['/contact']" 
    routerLinkActive="active">
    
    contact</a> </li>
  
</ul> -->