<div id="Tri">
    <ul>
        <li class="TriOption" *ngFor="let Criteria of TriCriteria" (click)="Tri(Criteria.Criteria, Criteria.ARROW.Value)" [ngClass]="{selected: SelectedTriCriteria === Criteria.Criteria }">
            <p class="TriCenter">{{Criteria.Criteria}}</p><img class="ArrowSelect" src="{{Criteria.ARROW.URL}}">
        </li>
    </ul>
</div>

<section class="DownSideSearch">
    <div id="Filter">
            <label>City</label>
            <div class="OneFilter">
                    <input type="text" name="City" value="City" (keyup)="onKey($event,'City')">
                </div>
            <label>Country</label>
            <div class="OneFilter">
                    <input type="text" name="Country" value="Country" (keyup)="onKey($event,'Country')">
                </div>
            <label>Stars</label>
            <div class="OneFilter">
                    <div class="Star" (click)="MyStars(1)" [ngClass]="{FullStar: Stars >= 1 }"></div>
                    <div class="Star" (click)="MyStars(2)" [ngClass]="{FullStar: Stars >= 2 }"></div>
                    <div class="Star" (click)="MyStars(3)" [ngClass]="{FullStar: Stars >= 3 }"></div>
                    <div class="Star" (click)="MyStars(4)" [ngClass]="{FullStar: Stars >= 4 }"></div>
                    <div class="Star" (click)="MyStars(5)" [ngClass]="{FullStar: Stars >= 5 }"></div>
                    <!-- Modifié Affichage étoiles-->
                </div>
            <label>Restaurants</label>
            <div class="OneFilter">
                    <input type="radio" name="RESTAURANTS" value="True"  [(ngModel)]="FilterList[3].value"
                    (ngModelChange)="choose($event)" > Yes
                    <input type="radio" name="RESTAURANTS" value="All"  [(ngModel)]="FilterList[3].value"
                    (ngModelChange)="choose($event)"> Whatever 
                </div>
            <label>Price</label>
            <div class="OneFilter">
                    <select name="Price" [(ngModel)]="PriceRange" (ngModelChange)="Price($event)">
                        <option value="150/300">150 à 300 €</option>
                        <option value="301/600">301 à 600 €</option>
                        <option value="601/900">601 à 900 €</option>
                        <option value="901/1200">901 à 1200 €</option>
                        <option value="1201/1500">1201 à 1500 €</option>
                    </select>
                </div>
            <label>Themes</label>

            <div class="OneFilter">
                <input type="text" name="Themes" value="Themes" (keyup)="onKey($event,'Themes')">
                <!-- On fera un *For pour l'affichage des themes-->
</div>
                <label>Chambers</label>
                <div class="OneFilter">
                    <input type="number" name="Chamber" value="Chamber" (keyup)="onKey($event,'Chamber')">
                </div>
                <label>Departure</label>
                <mat-form-field class="OneFilter">
                        <input matInput [matDatepicker]="picker" placeholder="Departure Date"
                               (dateInput)="addEvent('input', $event)" (dateChange)="Date('Start', $event)">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <label>End</label>
                  <mat-form-field class="OneFilter">
                    <input matInput [matDatepicker]="Return" placeholder="End"
                           (dateInput)="addEvent('input', $event)" (dateChange)="Date('End', $event)">
                    <mat-datepicker-toggle matSuffix [for]="Return"></mat-datepicker-toggle>
                    <mat-datepicker #Return></mat-datepicker>
              </mat-form-field>

    </div>


        <div class="SearchResult">
<div class="OneHotel"  *ngFor="let Hotel of ArrayOfHotels" (click)="GoToHotel(Hotel._id)" >
<img class="Miniature" src="{{Hotel.Pictures[0]}}"> 
<div class="OneHotelText">
<h4> {{Hotel.COMPANY_1}}  {{Hotel.COMPANY_2}} </h4>
<p class="LocationInfo">{{Hotel.STREET}} {{Hotel.POSTAL_CODE}} {{Hotel.CITY}} - {{Hotel.COUNTRY}}</p>
<p class="LoremIpsum">Buck was a border Terrier, a pretty Border Terrier. Among all dogs, he was the best.</p>
</div>    
</div>
        </div>

</section>
