li{
    list-style-type: none;   
    display: flex;
    justify-content: center;
}

ul{
    padding: 0px;
    margin : 0px;
    display: flex;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

input{
background-color: white;    
}
.mat-form-field-infix{
background-color:white;
}
#Tri{
width: 100% !important;
margin-top: 10px;
//margin-left: auto;
//margin-right: auto;
height: 80px;
background-color: #3ab3b0;
border-radius: 35px 35px 0px 0px;
display: flex;

flex-direction: column;
justify-content: center;
align-content: center;
align-items:center;
font-size: 12px;
}

#Tri p{
    padding: 0; 
    margin : 0; 
    align-self: center; 
}

.DownSideSearch{
display: flex;
justify-content: space-between;
margin-top: 20px;
margin-bottom: 20px;
width: 90%;
//margin-left: auto;
//margin-right: auto;    
}

#Filter{
width: 35%;
background-color: grey;
height: 1500px;
display: grid;
//padding: 2%;
//grid-template-columns: 40% 55%;
grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
align-items:center;
}

.OneFilter{
    margin-top: 10px;
    margin-bottom: 20px;
}

Label{
    font-size: 25px;
    height: 50px;
}
.SearchResult{
width: 65%;
height: fit-content;
}

.TriOption{
    cursor: pointer;
    float:left;
    width: auto;
    height: 50px;  
    color: rgb(250, 250, 250);
}


.ArrowSelect{
width: 15px;
height:15px;
margin-top: 0%;
margin-left: 5px;
margin-right: 20px;
align-self: center;
}

.selected{
color:#ffcc66; 
}

.Star{
    display: inline-block;
width: 15px;
height: 15px;
background-image: url('../../assets/public/images/EmptyStar.png');
background-size: contain;
margin-right: 10px;
}

.FullStar{
    background-image: url('../../assets/public/images/FullStar.png')
}

.OneHotel{
width: 92%;
padding: 4%; 
background-color: lightblue;
display: flex;
//justify-content: space-around;
flex-direction: column;
width:200px;
margin-bottom: 25px;
}

.Miniature{
width: 200px;
height:150px;    
margin-top: auto;
margin-bottom: auto;
}

.OneHotelText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 12px;
}

.h4{
font-size: 24px;
}
.LocationInfo{
margin: 0px;
padding: 0px;

}
.OneHotelText p{
    font-size:16px;
    font-family: Calibri;
}

@media only screen and (min-width: 641px){
    .OneHotel{
        flex-direction: initial;
        justify-content: space-around;
        //width:auto; 
    }
}

@media only screen and (min-width: 1024px){

}