<div class="searchBarContainer">
  <!-- BARRE DE RECHERCHE -->
  <div class="searchBar">
    <!-- LE GRID -->
    <div class="gridContainer">
      <!-- LA VILLE -->
      <div class="item1Country">
        <label for="country"></label>
        <input type="text" name='country'placeholder="Pays">
      </div>
      
      <!-- DATE DEPART -->
      <div class="item3DateGo">
        <!-- <button>Date de départ</button> -->
        <mat-form-field class="OneFilter">
          <input matInput [matDatepicker]="picker" placeholder="Departure Date"
                 (dateInput)="addEvent('input', $event)" (dateChange)="Date('Start', $event)">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
      </div>
      <!-- DATE DE RETOUR -->
      <div class="item4DateBack">
        <mat-form-field class="OneFilter">
          <input matInput [matDatepicker]="Return" placeholder="End"
                 (dateInput)="addEvent('input', $event)" (dateChange)="Date('End', $event)">
          <mat-datepicker-toggle matSuffix [for]="Return"></mat-datepicker-toggle>
          <mat-datepicker #Return></mat-datepicker>
        </mat-form-field>
        
      </div>
      <!-- NOMBRE DE PERSONNE-->
      <div class="item2Number">
        <label for="number"></label>
        <input type="text" name='number'placeholder="Nombres de personnes">
      </div>
      <!-- BOUTON SUBMIT -->
      <div class="item5SubmitBtn">
        <button >SUBMIT</button>
      </div>
  
    </div>
  </div>
</div>