@import "../../mixins";
@import "../../variables";

.searchBar{
    width: 90%;
    margin:auto;
    margin-left: none;
    margin-right:none;
    background-color: #41B4AF;
    padding:0.8em;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    max-width: 920px;
 }
 .gridContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;//2colonnes
    grid-template-rows: 1fr 1fr 1fr;//3lignes
    grid-column-gap: 1em;//espace
    grid-row-gap: 0.5em;//interligne
    justify-content: space-between;//disposition
 
    @include breakpoint(screen,$iPadProWidth){
     grid-template-rows: 1fr;
     grid-template-columns: repeat(4,1fr) 70px;
     padding: 0 2em;
    }
    div{
        text-align:center;
        width: 100%;
    }
    .item1Country,.item2Number{
        grid-column: 1 span;
        grid-row: 1; //se trouve sur la première ligne
        margin-top: 16px;
        input{
            width:98%;
        }
    }
 
    .item3DateGo,.item4DateBack{
        grid-column: 1 span;
        grid-row: 2;
        button{
            width: 98%;
            @include breakpoint(screen, $iPadProWidth){
                width: 100%;
            }
        }
        @include breakpoint(screen, $iPadProWidth){
            grid-row: 1;
        }
 
    }
    .item5SubmitBtn{
        grid-column: 1/2 span;
        grid-row: 3;
        @include breakpoint(screen, $iPadProWidth){
            grid-column: 1 span;
            grid-row: 1;
        }
    }
 }

img{width: 90%;
    margin:auto;
    padding:none;
    max-width: 920px;

}
.theme1{margin-left: 66px;
}


.first{font-style: italic;
    color:#616161;
    margin-left: 66px;
    margin-right: 66px;
}


.details{
    background-color:#DBDBDB;
    color:#616161;
    margin: 66px;
    padding-top: 66px;
    padding-bottom: 66px;
   
    
}

.suite {
    margin: 66px;
    
}

.important{
    font-weight: bold;
    border-bottom-style: solid;
    font-style: italic;
    color:#616161;
    margin-left: 66px;
    margin-right: 66px;
    padding-bottom: 66px;
    
}
.bigGrid{
    display:grid;
    grid-template-columns: 1fr 1fr;//2colonnes
    grid-template-rows: 1fr 1fr ;//2lignes
    margin: 66px;
    
    
    background-color:  #E7B460;
 
}

.themTitle{
    padding-left: 66px;

}

.apd{
    background-color: #A6A8A5;
    grid-column: 1 span;
        grid-row: 1; 
        text-align: center;

}
.pourcent{
    background-color: #616161;
    grid-column: 1 span;
    grid-row: 1; 
    text-align: center;
    h3{height: 100%;}
}
.btnBook{
    grid-column: 1/2 span;
    grid-row: 2; 
    
}

.themeTitle{
    color:#70736B;
    font-style: italic;
    padding-left: 66px;
}
.btnBook{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; 
    button{
        margin-top: 2em;
        margin-bottom: 2em;
    font-style: italic;
    width: 50%;
    height: 75%;
    }
}
form {
    /* Pour le centrer dans la page */
    margin: 0 auto;
    width: 400px;
  
    /* Pour voir les limites du formulaire */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
/*   div + div {
    margin-top: 1em
  } */
  
  /* label {
    Afin de s'assurer que toutes les étiquettes aient la même dimension et soient alignées correctement
    display: inline-block;
    width: 90px;
    /* Pour donner la même dimension à tous les champs textuels */
   /*
    width: 300px;
    -moz-box-sizing: border-box;
    text-align: right;
  };*/

  .postComment{input, textarea {
    /* Afin de s'assurer que tous les champs textuels utilisent la même police
       Par défaut, textarea utilise une police à espacement constant */
    font: 1em sans-serif;
  
         box-sizing: border-box;
  
    /* Pour harmoniser l'apparence des bordures des champs textuels */
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {
    /* Afin de réhausser les éléments actifs */
    border-color: #000;
  }
  
  textarea {
    /* Pour aligner correctement les champs multilignes et leurs étiquettes */
    vertical-align: top;
  
    /* Pour donner assez d'espace pour entrer du texte */
    height: 5em;
  
    /* Pour permettre aux utilisateurs de redimensionner un champ textuel horizontalement
       Cela ne marche pas avec tous les navigateurs  */
    resize: vertical;
  }
  
  .push {
    /* Pour positionner les boutons de la même manière que les champs textuels */
    padding-left: 90px; /* même dimension que les étiquettes */
  }
  
  .push {
    /* Cette marge représente approximativement le même espace
       que celui entre les étiquettes et les champs textuels */
    margin-left: .5em;
  }}
.navbarContainer{
    margin:66px;
}


  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #41B3AF;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #41B3AF;}

ul.topnav li a.active {background-color: rgb(253, 253, 253);
color:black}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
