@import '../../mixins';
@import '../../variables';


// Flex Box (pr les images sur la page d'ACCUEIL)--> contenant 2 div eux même en flex (why?pour gérer le responsive)
.destinationContainer{
    max-width: $maxWidth;
    margin: auto;
    @include breakpoint(screen,$iPadWidth){
        margin:2em auto;
        @include breakpoint(screen,$iPadProWidth){
            margin:5em auto;
        }
    }
}
.themesFlexBox{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em; 
    grid-row-gap: 1em;
    justify-content: space-between;
    @include breakpoint(screen,$iPadWidth){
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1em; 
        grid-row-gap: 1em;
        justify-content: space-between;
        @include breakpoint(screen,$iPadProWidth){
            display:grid;
            grid-template-columns: 1fr 1fr 1fr 1fr ;
            grid-template-rows: 1fr;
            grid-column-gap: 1em; 
            grid-row-gap: 1em;
            justify-content: space-between;
        }
    }
}
.theme1,.theme2,.theme3,.theme4{
    height: 110px;
    width: 192px;
    overflow: hidden;
    grid-column: 1;
    grid-row: 1 span;
    margin: auto;
    @include breakpoint(screen, $iPadProWidth){
        height: 135px;
        width: 240px;
    }
    img{
        display: block;
        position: absolute;
        z-index: 1;
        height: 108px;
        width: 192px;
        @include breakpoint(screen, $iPadProWidth){
            height: 135px;
            width: 240px;
        }
    }
    h3{
        display: block;
        position: relative;
        z-index: 100;
        color:white;
        top:35%;
        text-align: center;
        font-size: 2em;
        background-color: rgba(0, 0, 0,0.3);
        @include breakpoint(screen, $iPadProWidth){
            top:50%;
        }
    }

}
.theme2{
    @include breakpoint(screen,$iPadWidth){ 
        grid-column: 2;
        grid-row: 1 span;
    }
}
.theme3{
    @include breakpoint(screen,$iPadWidth){ 
        grid-column: 1;
        grid-row: 2 span;
        @include breakpoint(screen,$iPadProWidth){
            grid-column: 3;
            grid-row: 1 span;
        }
    }  
}
.theme4{
    @include breakpoint(screen,$iPadWidth){ 
        grid-column: 2;
        grid-row: 2 span;
        @include breakpoint(screen,$iPadProWidth){
            grid-column: 4;
            grid-row: 1 span;
        }
    } 
}
.bestPlacesTitle,.themeTitle{
    width: 80%;
    margin:1em auto;
    h1{
        text-align: center;
        color: grey;
    }
}
.bestPlacesFlexBox{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1em; 
    grid-row-gap: 1em;
    justify-content: space-between;
    @include breakpoint(screen,$iPadWidth){ 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr ;
    } 
   
}
.mostReserve,.mostViews{
    height: 144px;
    width: 256px;
    overflow: hidden;
    grid-column: 1;
    grid-row: 1 span;
    margin: auto;
    @include breakpoint(screen, $iPadProWidth){
        height: 288px;
        width: 512px;
    }
    img{
        display: block;
        position: absolute;
        z-index: 1;
        height: 144px;
        width: 256px;
        @include breakpoint(screen, $iPadProWidth){
            height: 288px;
            width: 512px;
        }
    }
    h3{
        display: block;
        position: relative;
        z-index: 100;
        color:white;
        top:50%;
        text-align: center;
        font-size: 1.5em;
        background-color: rgba(0, 0, 0,0.3);
        padding: 0.5em;
        margin-bottom: 0;
        @include breakpoint(screen, $iPadProWidth){
            top:65%;
            font-size: 2em;
            padding: 0.5em;
        }
    }
}
.mostViews{
    @include breakpoint(screen,$iPadWidth){ 
        grid-column: 2;
        grid-row: 1 span;
    } 
}